$text-blue: #1f3f68;
$text-white: #fff;
$text-light-blue: #316099;
$bg-white: #fff;
$bg-blue: #5a98d0;
$bg-dark-blue: #1f3f68;
$bg-ligh-blue: #316099;
$button-blue: #5a98d0;
$tablet-width: 660px;
$desktop-width: 1366px;
