.button {
  width: 281px;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 11px 12px 14px 12px;
  border-radius: 10px;
  text-align: center;
  color: $text-white;
  font-weight: 700;
  background-color: $button-blue;
  border: none;
  cursor: pointer;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);

  &:hover,
  &:focus {
    color: $text-blue;
    background-color: transparent;
    padding: 8px 9px 11px 9px;
    border: 3px solid $text-blue;
  }

  &:active {
    color: rgba($text-blue, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .button {
    width: 220px;
    padding: 15px 20px;

    &:hover,
    &:focus {
      color: $text-blue;
      background-color: transparent;
      padding: 12px 17px;
      border: 3px solid $text-blue;
    }
  }
}
