.intro {
  position: relative;
  width: 360px;
  padding-bottom: 300px;
  background-image: url("./img/bg/main-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 360px auto;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(0deg, #98c3e8 8.84%, rgba(152, 195, 232, 0) 31.12%);
    content: "";
    z-index: -2;
    opacity: 0.2;
  }
}

.intro__title {
  font-family: "Galien", "Arial", sans-serif;
  width: 230px;
  margin: 0 auto;
  font-size: 24px;
  padding-bottom: 10px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 0.05em;
}

.intro__text {
  width: 300px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
}

.intro__button {
  margin-left: 40px;
}

@media (min-width: $tablet-width) {
  .intro {
    width: 640px;
    background-size: 540px auto;
    padding-bottom: 400px;
  }

  .intro__title {
    width: 430px;
    font-size: 54px;
    line-height: 60px;
  }

  .intro__text {
    width: 425px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 26px;
  }

  .intro__button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    position: relative;
    width: 1346px;
    background: none;
    padding-bottom: 170px;

    &::after {
      content: "";
      position: absolute;
      width: 820px;
      height: auto;
      top: 0;
      bottom: 10px;
      right: 0;
      left: 520px;
      z-index: -1;
      background-image: url("./img/bg/main-bg.svg");
      background-position: right top;
      background-repeat: no-repeat;
      transform: rotate(0deg);
    }
  }

  .intro__title {
    text-align: left;
    width: 510px;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.05em;
    margin: 0;
    padding-top: 80px;
    margin-left: 211px;
    margin-bottom: 32px;
  }

  .intro__text {
    width: 425px;
    line-height: 26px;
    margin: 0;
    margin-left: 213px;
    margin-bottom: 77px;
  }

  .intro__button {
    margin: 0;
    margin-bottom: 20px;
    margin-left: 211px;
  }
}
