.map {
  margin: 0 auto;
  width: 360px;
  margin-bottom: 20px;
}

.map__iframe {
  position: relative;
  width: 360px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  height: 200px;
  line-height: 0;
  background-image: url("./img/bg/map-bg.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 320px auto;
}

@media (min-width: $tablet-width) {
  .map {
    width: 660px;
  }

  .map__iframe {
    width: 640px;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    margin-top: 64px;
    width: 960px;
    margin-bottom: 0;
  }

  .map__iframe {
    margin-left: 18px;
    width: 940px;
    height: 480px;
  }
}
