.modal {
  position: fixed;
  background-color: $bg-white;
  top: 20px;
  left: 50%;
  width: 360px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding-bottom: 40px;
  transform: translateX(-50%);

  &--close {
    display: none;
  }
}

.modal__button {
  position: absolute;
  right: 30px;
  top: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .modal {
    width: 660px;
  }

  .modal__button {
    right: 60px;
    top: 60px;
  }
}

@media (min-width: $desktop-width) {
  .modal {
    width: 1366px;
  }

  .maodal__wrapper {
    width: 1326px;
    margin: 0;
  }

  .modal .modal__intro {
    background-size: 1200px auto;
  }

  .modal__button {
    right: 80px;
    top: 80px;
  }
}
